
    <%- include ./include/head.ejs %>
<body>
    <div id="wrap">
        <div id="header">
            <div class="container"></div>
        </div>
        <div id="contents">
            <div id="cont_nav">
                <div class="container">cont_nav</div>
            </div>
            <div id="cont_tit">
                <div class="container">cont_tit</div>
            </div>
            <div id="cont_ban">
                <div class="container">cont_ban</div>
            </div>
            <div id="cont_cont">
                <div class="container">cont_cout</div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>