
#wrap {width:100%;}
#header {width:100%;height: 325px; background: #111;}
#contents {width:100%; height: 800px; background: #222;}
#footer {width:100%; height: 200px; background: #333;}

/*컨테이너*/

.container {width:990px; margin:0 auto; height:inherit; background: rgba(255,255,255,0.3);}

/*컨텐츠 레이아웃*/
#cont_nav{width:100%; height: 200px; background: #333;}
#cont_tit{width:100%; height: 200px; background: #444;}
#cont_ban{width:100%; height: 200px; background: #555;}
#cont_cont{width:100%; height: 200px; background: #666;}