<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="웹 표준을 준수한 사이트 예제">
    <meta name="keywords" content="사이트 만들기">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/facivon.ico">
    <title>TEST</title>

    <!-- CSS STYLE-->
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>